:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.v-main {
  background-color: #F4F2FF;
}

/* .v-btn {
  text-transform: none !important;
} */